.info-modal {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.info-modal-icon {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

.info-modal-icon svg {
  width: 100%;
  height: 100%;
}

.info-modal-message {
  flex-grow: 1;
  font-size: 1rem;
  line-height: 1.5;
}

/* Info variant */
.info-modal-info .info-modal-icon {
  color: var(--bs-info);
}

/* Success variant */
.info-modal-success .info-modal-icon {
  color: var(--bs-success);
}

/* Warning variant */
.info-modal-warning .info-modal-icon {
  color: var(--bs-warning);
}

/* Error variant */
.info-modal-error .info-modal-icon {
  color: var(--bs-danger);
}
